.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
html, body {
  height: 100%;
}
.body{
  font-size:16px;
  font-family:'Karla', sans-serif;

}
.portfolio{
  margin: 20px 15px 10px 10px;
  padding-left:20px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height:100%;
  width: 100%;
  background-color:hsl(204, 43%, 93%) !important;
}

.top-container{
  padding-top: 10px;
  padding-left: 10px;
  grid-area: 1 / 1 / 2 / 3;
  background-color: white;
  width:680px;
}
.center{
  position:relative;
  left:400px;
}
.bottom{
  display: inline-block;
}
.bottom1{
  grid-area: 2 / 1 / 3 / 2;
  background-color:teal;
  color:white;
  padding-left:40px;
  padding-top: 20px;
  padding-right: 10px;
  width:300px;
  height:250px;
  position: relative;
  bottom:12px;
}
.bottom2{
  grid-area: 2 / 2 / 3 / 3;
  background-color:hsl(179, 62%, 43%);
  color:white;
  padding-left:40px;
  padding-top: 20px;
  width:300px;
  height:250px;
  position:relative;
  left:350px;
  bottom:283px;
  right:10px;
}
.main-heading{
  color:hsl(179, 62%, 43%);
  font-size: 26px;
  font-weight: 700;
  position:relative;
  left:20px;
}
.about{
  color:hsl(71, 73%, 54%);
  font-size: 20px;
  font-weight: 700;
  position:relative;
  left:20px;
}
.info{
  color:hsl(218, 22%, 67%);
  line-height: 2;
  font-weight: 400;
}
button{
 color: white;
 background:hsl(71, 73%, 54%);
 padding: 12px 100px 12px 100px;
 border-radius: 10%;
 border:none;
}
.dollar{
  font-size: 28px;
  font-weight:700;
}
.month{
  color:hsl(204, 43%, 93%);
  font-size:16px;
}
.why{
  color:hsl(204, 43%, 93%);
}
